// este queda para botones primarios
.btn {
    background-color: var(--deep-magenta) !important;
    color: var(--white);
}

.btn2 {
    // background-color: var(--dark-pink) !important;
    color: var(--white);
    border: 1px solid var(--deep-magenta);
    // color: #1a1a1a;
    // background-color: white;
}