@use 'variables' as vars;

.container {
    width: max-content;
    max-width: 400px;
    height: max-content;
    padding: 1rem 0.25rem ;
    margin: 0 auto;
    border-radius: 0 0 vars.$border-radius-small vars.$border-radius-small;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.snack-bar-success {
    background-color: #4caf50; // Green
    color: white;
  }
  
  .snack-bar-error {
    background-color: #f44336; // Red
    color: white;
  }
  