@use 'variables' as vars;

.feature-item {
    margin-bottom: 1rem;
    padding: 1rem;
}

mat-card-title {
    font-size: 1.2rem;
    color: vars.$white;

}

mat-card-content p {
    color: vars.$white;
    margin-block-start: 10px;
}


mat-divider {
    height: 2px;
    border-color: vars.$deep-magenta;
    border-width: 2px;
}