@use 'variables' as vars;

.container {
    width: 50vw;
    min-width: 300px;
}

.header {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  gap: 8px;

  & > *:nth-child(2) {
    margin-inline-start: auto;
  }
}

.logo {
  ::ng-deep svg {
    width: 160px !important;
  }
}

.links {   
    ::ng-deep nav {
      display: flex;
      flex-direction: column;
    }
  
    ::ng-deep nav a {
      margin-bottom: 0.5rem;
      color: vars.$white;
      text-decoration: none;
      font-weight: bold;
      transition: color 0.2s ease-in-out;
  
      &:hover {
        text-transform: underline;
        color: vars.$dark-pink;
      }
    }
  }
  