.testimonial-card {
    padding: 1rem;
    border-left: 4px solid var(--deep-magenta);
  }

  .testimonial {
    font-style: italic;
    margin: 0 0 1rem 0;
    color: var(--white);
  }

  .client {
    font-weight: medium;
    color: rgba(255,255,255, 0.6);
  }