<mat-toolbar class="container glassmorphism">
  <button mat-icon-button aria-label="menu" class="btn-icon" (click)="toggleMobileMenu()">
    <mat-icon class="icon-menu">menu</mat-icon>
  </button>
  <app-logo [width]="35" displayMode="minimal"></app-logo>
  <app-navigation-text-based class="text-navigation"></app-navigation-text-based>
  <a mat-flat-button routerLink="/contact-us" class="btn-contact-us">Contact Us</a>
</mat-toolbar>
<div class="spacer"></div>
<app-navigation-mobile class="mobile-menu"></app-navigation-mobile>