@use 'mixins' as mixins;
@use 'variables' as vars;

.container {
    width: 100vw;
    height: max-content;
    position: fixed;
    top: 0;
    left: 0;
    z-index: vars.$z-index-header;
    padding: 1rem 0.75rem ;
    border-radius: 0 0 vars.$border-radius-small vars.$border-radius-small;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    
    @include mixins.respond-to('lg') {
        padding: 1.5rem 2.5rem;
    }
}

.spacer {
    min-height: vars.$header-height-mobile;;
    background-color: vars.$black;

    @media (min-width: 1024px) {
        min-height: vars.$header-height-desktop;
    }

    // @include mixins.respond-to('lg') {
    //     min-height: vars.$header-height-desktop;
    // }
}

.btn-icon {
    width: max-content;
    height: max-content;

    @include mixins.respond-to('lg') {
        display: none;
    }
}

.icon-menu {
    font-size: 2rem ;
}

.text-navigation {
    display: none;

    @include mixins.respond-to('lg') {
        display: initial;
    }
}

.btn-contact-us {
    margin-inline-start: auto;
}

.mobile-menu {
    transform: translateX(-100%);
    position: fixed;
    transition: all 0.3s ease-in-out ;
    top: vars.$header-height-mobile;
    left: 0;
    z-index: vars.$z-index-header;
    
    &.open {
        transform: translateX(0);
    }

    @include mixins.respond-to('lg') {
        display: none;
    }
}

.switcher-language {
    display: none;

    @include mixins.respond-to('lg') {
        display: initial;
    }
}