.container {
    width: 100vw;
    height: max-content;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-index-header);
    padding: 1rem 0.25rem ;
    border-radius: 0 0 var(--border-radius-small) var(--border-radius-small);
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.spacer {
    min-height: var(--header-height);;
    background-color: var(--black);
}

.btn-icon {
    width: max-content;
    height: max-content;
}

.icon-menu {
    font-size: 2rem ;
}

.text-navigation {
    display: none;
    @media screen and (min-width: var(--breakpoint-desktop)) {
        display: intial;
    }
}

.btn-contact-us {
    margin-inline-start: auto;
}

.mobile-menu {
    transform: translateX(-100%);
    position: fixed;
    transition: all 0.3s ease-in-out ;
    top: var(--header-height);
    left: 0;
    z-index: var(--z-index-header);
    @media screen and (max-width: var(--breakpoint-desktop)) {
        display: none;
    }

    &.open {
        transform: translateX(0);
    }
}