@use '@angular/material' as mat;
@use 'sass:map';


$primary-base: #3c0753;



$TechAdvancer-theme: mat.define-theme((
  color: (
    theme-type: dark,
    use-system-variables: true,
  ),
  density: (
    scale: 0,
  ),
  typography: (
    plain-family: "Mont-bold, Roboto",
    brand-family: "Mont-bold, Roboto",
  )
));
