@use 'mixins' as mixins;

.carousel {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.carousel-track {
  display: flex;
  height: max-content;
  align-items: stretch;
  transition: transform 0.5s ease;
  padding: 20px 10%;

  @include mixins.respond-to('lg') {
    padding: 20px 20px;
  }
}

.carousel-slide {
  flex: 0 0 80%;
  margin: 0 20px;
  transition: transform 0.5s ease;

  & * {
    height: 100%;
  }

  @include mixins.respond-to('lg') {
    flex: 1 0 250px;
  }
}
