<footer class="footer">
  <app-logo displayMode="full" [width]="300"></app-logo>
  <nav class="footer-nav">
    <a *ngFor="let link of navLinks" [href]="link.href" mat-button class="nav-link">{{ link.label }}</a>
  </nav>

  <div class="contact-info">
    <p *ngFor="let info of contactInfo">
      <span class="info-type">{{ info.type }}:</span>
      <span class="info-value">{{ info.value }}</span>
    </p>
  </div>

  <div class="social-media">
    <a *ngFor="let social of socialMediaLinks" [href]="social.url" mat-icon-button class="social-link" target="_blank"
      rel="noopener noreferrer">
      <mat-icon>{{ social.icon }}</mat-icon>
    </a>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2024 TechAdvancer. All rights reserved.</p>
    <a href="#" mat-button class="privacy-policy">Privacy Policy</a>
  </div>
</footer>