<app-banner></app-banner>
<main>
    <section class="introduction">
        <div class="responsive-padding content">
            <h2>{{ 'HOME.PURPOSE.TITLE' | translate }}</h2>
            <p>{{ 'HOME.PURPOSE.DESCRIPTION' | translate }}</p>
        </div>
        <img src="ai_woman.gif" alt="{{ 'HOME.PURPOSE.IMAGE_ALT' | translate }}" class="img" />
    </section>

    <section class="services">
        <div class="responsive-padding">
            <h2>{{ 'SERVICES.TITLE' | translate }}</h2>
            <ng-template #cardtemplate let-item>
                <app-card-service [service]="item"></app-card-service>
            </ng-template>
        </div>
        <app-carousel [items]="services" [itemTemplate]="cardtemplate"></app-carousel>
    </section>

    <section class="products">
        <div class="responsive-padding">
            <h2>{{ 'HOME.PRODUCTS.TITLE' | translate }}</h2>
            <p>{{ 'HOME.PRODUCTS.DESCRIPTION' | translate }}</p>
            <div class="product-list">
                <app-card-product *ngFor="let product of products" [product]="product"></app-card-product>
            </div>
        </div>
    </section>

    <section class="choose-us">
        <div class="responsive-padding">
            <h2>{{ 'HOME.WHY_CHOOSE_US.TITLE' | translate }}</h2>
            <p>{{ 'HOME.WHY_CHOOSE_US.DESCRIPTION' | translate }}</p>
            <ul class="selling-points-list">
                <li>
                    <strong>{{ 'HOME.WHY_CHOOSE_US.POINTS.INNOVATION_DRIVEN.TITLE' | translate }}</strong>
                    <p>{{ 'HOME.WHY_CHOOSE_US.POINTS.INNOVATION_DRIVEN.DESCRIPTION' | translate }}</p>
                </li>
                <li>
                    <strong>{{ 'HOME.WHY_CHOOSE_US.POINTS.CLIENT_CENTRIC.TITLE' | translate }}</strong>
                    <p>{{ 'HOME.WHY_CHOOSE_US.POINTS.CLIENT_CENTRIC.DESCRIPTION' | translate }}</p>
                </li>
            </ul>
        </div>
    </section>

    <section class="expertise-section">
        <div class="responsive-padding">
            <h2>{{ 'HOME.EXPERTISE.TITLE' | translate }}</h2>
            <p>{{ 'HOME.EXPERTISE.DESCRIPTION' | translate }}</p>
        </div>
        <img src="/working-room.jpg" alt="{{ 'HOME.EXPERTISE.IMAGE_ALT' | translate }}" />
        <div class="technologies">
            <app-feature-list title="{{ 'HOME.EXPERTISE.KEY_TECHS.TITLE' | translate }}"
                [features]="keyTechs"></app-feature-list>
        </div>
    </section>

    <section class="success-stories">
        <div class="responsive-padding">
            <h2>{{ 'HOME.SUCCESS_STORIES.TITLE' | translate }}</h2>
            <p>{{ 'HOME.SUCCESS_STORIES.DESCRIPTION' | translate }}</p>
            <div class="testimonials">
                <app-card-testimonial *ngFor="let testimonial of successStories"
                    [testimonial]="testimonial.text | translate" [client]="testimonial.client | translate">
                </app-card-testimonial>
            </div>
        </div>
    </section>

    <section class="explore-links">
        <div class="responsive-padding">
            <h2>{{ 'HOME.EXPLORE_LINKS.TITLE' | translate }}</h2>
            <p>{{ 'HOME.EXPLORE_LINKS.DESCRIPTION' | translate }}</p>
            <ul class="explore-links-list">
                <li *ngFor="let link of exploreLinks">
                    <a [href]="link.url" class="explore-link">{{ link.text | translate }}</a>
                </li>
            </ul>
        </div>
    </section>

    <section class="contact-prompt">
        <div class="responsive-padding">
            <h2>{{ 'HOME.CONTACT_PROMPT.TITLE' | translate }}</h2>
            <p>{{ 'HOME.CONTACT_PROMPT.DESCRIPTION' | translate }}</p>
            <a href="/contact-us" class="mat-flat-button mat-primary-button">
                {{ 'HOME.CONTACT_PROMPT.BUTTON_TEXT' | translate }}
            </a>
        </div>
    </section>

</main>