<app-banner></app-banner>

<main class="main">

    <section>
        <div class="inline-padding">
            <h2>Our purpose</h2>
            <p>At TechAdvancer, we believe in empowering businesses to thrive through advanced AI-driven solutions and
                world-class talent. From enhancing team capabilities to delivering tailored software solutions, our
                services
                are designed to foster success in every project.</p>
        </div>
        <img src="ai_woman.gif" alt="woman ai" class="img" />
    </section>

    <section>
        <div class="inline-padding">
            <h2>Core Service Highlights</h2>
            <ng-template #cardtemplate let-item>
                <app-card-service [service]="item"></app-card-service>
            </ng-template>
        </div>

        <app-carousel [items]="services" [itemTemplate]="cardtemplate"></app-carousel>
    </section>

    <section class="products">
        <div class="inline-padding">
            <h2>Our core products</h2>
            <p>Discover our innovative products that are transforming businesses worldwide.</p>

            <div class="product-list">
                <app-card-product *ngFor="let product of products" [product]="product"></app-card-product>
            </div>
        </div>
    </section>

    <section class="choose-us">
        <div class="inline-padding">
            <app-feature-list title="Why Choose TechAdvancer" [features]="why_choose_us"></app-feature-list>
            <h2 class="mat-headline-large">Why Choose TechAdvancer</h2>
            <p>Here’s why partnering with TechAdvancer can drive your business to success:</p>

            <ul class="selling-points-list">
                <li>
                    <strong>Innovation-Driven:</strong>
                    <p>Constantly at the forefront of AI advancements to offer next-generation solutions.</p>
                </li>
                <li>
                    <strong>Client-Centric Approach:</strong>
                    <p>We tailor every solution to fit the unique needs of each client, ensuring results that matter.
                    </p>
                </li>
            </ul>
        </div>
    </section>


    <section class="expertise-section">
        <div class="inline-padding">
            <h2 class="mat-display-1">Proven Expertise</h2>
            <p class="mat-body-1">Our team of industry veterans and technology experts ensures reliable, high-quality
                service.</p>
        </div>
        <img src="/working-room.jpg" alt="engineers working together">

        <div class="technologies">
            <app-feature-list title="Key Technologies and Expertise" [features]="key_techs"></app-feature-list>
        </div>
    </section>

    <section class="success-stories">
        <div class="inline-padding">
            <h2>Success Stories</h2>
            <p>Discover how our expertise has empowered businesses to achieve remarkable outcomes.</p>
            <div class="testimonials">
                <app-card-testimonial
                    testimonial="TechAdvancer’s solutions transformed our workforce efficiency by over 30%. The team’s expertise and support were exceptional."
                    client="– Jane Doe, Operations Manager, FinTech Corp">
                </app-card-testimonial>

                <app-card-testimonial
                    testimonial="The AI-driven tools provided by TechAdvancer have streamlined our operations, enabling us to focus on scaling our business."
                    client="– John Smith, CEO, RetailTech Solutions">
                </app-card-testimonial>
            </div>
        </div>
    </section>

    <section class="explore-links">
        <div class="inline-padding">
            <h2 class="mat-headline-medium">Explore More</h2>
            <p>Discover more about our offerings and how we can help your business thrive:</p>
            <ul class="explore-links-list">
                <li *ngFor="let link of exploreLinks">
                    <a [href]="link.url" class="explore-link mat-body-2">{{ link.text }}</a>
                </li>
            </ul>
        </div>
    </section>


    <section class="contact-prompt">
        <div class="inline-padding">
            <h2 class="mat-headline-medium">Contact Us</h2>
            <p class="mat-body-1">Have questions? Our team is here to help. Reach out to us today, and let’s discuss how
                we can assist with your goals.</p>
            <a href="/contact-us" class="mat-flat-button mat-primary-button">Get in Touch</a>
        </div>
    </section>
</main>