<main>
  <img src="/contact-us.jpg" alt="contact-us" class="hero-image">
  <div class="hero-section responsive-padding">
    <h1>{{ hero_title }}</h1>
    <p>{{ hero_description }}</p>
  </div>

  <div class="contact-form">
    <app-form-contact-us></app-form-contact-us>
  </div>

  <section class="faqs-section responsive-padding">
    <h2>{{ faqs_title }}</h2>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let faq of faqs">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ faq.QUESTION }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{ faq.ANSWER }}</p>
      </mat-expansion-panel>
    </mat-accordion>
  </section>

  <div class="business-hours-section responsive-padding">
    <h2>{{ business_hours_title }}</h2>
    <p>{{ business_hours_description }}</p>
    <ul>
      <li *ngFor=" let hour of businessHours">
        <strong>{{ hour.DAY }}:</strong> {{ hour.HOURS }}
      </li>
    </ul>
  </div>

  <!-- <div class="privacy-section">
    <h2>{{ 'CONTACT_US.PRIVACY.TITLE' | translate }}</h2>
    <p>{{ 'CONTACT_US.PRIVACY.DESCRIPTION' | translate }}</p>
    <a [routerLink]="['/privacy-policy']" class="privacy-link">
      {{ 'CONTACT_US.PRIVACY.LINK_TEXT' | translate }}
    </a>
  </div> -->
</main>