@use 'variables' as vars;
@use 'mixins' as mixins;

.banner {
  padding: 4rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-image: url("/neural_network.gif");
  background-repeat: no-repeat;
  background-size: cover;
  color: vars.$white;

  @include mixins.respond-to('lg') {
    padding: 6rem
  }
}


.img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}


.cta {
  align-self: center;
}