@use 'styles/variables' as vars;

// Custom Theming for Angular Material
@use '@angular/material' as mat;
@use 'styles/typography';
@use 'styles/themes/default.theme' as techAdvancerTheme;

// Include Angular Material core styles
@include mat.core();

:root {
  @include mat.all-component-themes(techAdvancerTheme.$TechAdvancer-theme);
  @include mat.system-level-colors(techAdvancerTheme.$TechAdvancer-theme);
  @include mat.system-level-typography(techAdvancerTheme.$TechAdvancer-theme);

  // Define CSS custom properties for consistency
  // --very-dark-blue: #{vars.$very-dark-blue};
  // --dark-purple: #{vars.$dark-purple};
  // --deep-magenta: #{vars.$deep-magenta};
  // --dark-pink: #{vars.$dark-pink};
  // --white: #{vars.$white};
  // --black: #{vars.$black};

  // --dark-purple-to-black-radial-gradient: #{vars.$dark-purple-to-black-radial-gradient};
  // --red-to-pink-to-purple-horizontal-gradient: #{vars.$red-to-pink-to-purple-horizontal-gradient};

  // --glassmorphism-background: #{vars.$glassmorphism-background};
  // --glassmorphism-blur: #{vars.$glassmorphism-blur};

  // --border-radius-small: #{vars.$border-radius-small};
  // --border-radius-medium: #{vars.$border-radius-medium};
  // --border-radius-large: #{vars.$border-radius-large};

  // --header-height: #{vars.$header-height-mobile};
  // --breakpoint-mobile: #{vars.$breakpoint-sm};
  // --breakpoint-tablet: #{vars.$breakpoint-md};
  // --breakpoint-desktop: #{vars.$breakpoint-lg};
  // --z-index-header: #{vars.$z-index-header};
}

html, body {
  height: 100%;
  width: 100vw;
  scroll-behavior: smooth;
  scroll-snap-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--mat-tab-header-label-text-font), Roboto, 'Helvetica Neue', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

main {
  background-color:vars.$black;
  color: vars.$white;
  border: 1px solid transparent;
}

.glassmorphism {
  background: vars.$glassmorphism-background !important;
  backdrop-filter: blur(vars.$glassmorphism-blur) !important;
  box-shadow: 0 4px 6px vars.$glassmorphism-background !important;
}

.responsive-padding {
  padding: 1rem 1rem;
}
