
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@use 'styles/typography';
@use 'styles/themes/default.theme' as techAdvancerTheme;


// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();


// Include styles styles for core and each component used in your app.
// Alternatively, you can import and @include the styles mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes(techAdvancerTheme.$TechAdvancer-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($TechAdvancer-styles);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($TechAdvancer-styles);
:root {
  --main: #030637; // very-dark-blue
  --dark-purple: #3c0753;
  --deep-magenta: #720455;
  --dark-pink: #910a67;
  --white: #ffffff;
  --black: #1a1a1a;

  --main-to-pink-to-purple-vertical-gradient: radial-gradient(
    circle,
    var(--dark-purple) 0%,
    var(--black) 15%
  );
  
  --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
    90deg,
    var(--orange-red) 0%,
    var(--dark-purple) 50%,
    var(--dark-pink) 100%
  );
  
  --pill-accent: var(--dark-purple);
}



html, body { height: 100%; width: 100vw; }
body {
  margin: 0;
  padding: 0;
  font-family: var(--mat-tab-header-label-text-font), Roboto, "Helvetica Neue", sans-serif;
}
