.language-switcher {
    display: flex;
    align-items: center;
    gap: 10px;
  
    button {
      padding: 5px 10px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      transition: background-color 0.3s;
      color: var(--white);
  
      &.active {
        background-color: var(--dark-pink);
      }
  
      &:hover {
        background-color: var(--dark-pink);
      }
    }
  }
  